<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Studio Ghibli's api</h1>
    <p>This api allows you to get Studio Ghibli's movies information. Either in groups or individually. I hope you can enjoy it</p>
</body>
</html>