<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="section-1" class="padded min-height-800">
        <div class="container d-flex flex-column align-items-center">
            <h1 class="text-center changing-font-color text-shadow-sm">Welcome to the Studio Ghibli's api!</h1>
            <article class="intro-card width-50 p-20 box-shadow-sm">
                <p>
                    This api will allow you to get Studio Ghibli's movies information. Either in groups or individually. Hope you can enjoy it!
                </p>
                <a class="documentation-anchor" href="https://github.com/Sly-Perez/StudioGhibliAPI" target="_blank">Documentation in Github Repository</a>
            </article>
        </div>
    </div>    
</body>
</html>